.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    transition-property: transform;
    transition-duration: 1s;
}
.arrow-left {
    transform: rotate(135deg);
}
.arrow-right    {
    transform: rotate(315deg);
}
div.hypo-grade-open {
    background-color: white;
    box-shadow: -4px 4px 5px 0 rgba(0,0,0,0.2);
    color: black;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    transition: padding 0.5s;
    width: 8px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
    position: relative;
    overflow: hidden;
    left: 0;
    top: 30px;
    z-index: 2;
}
div.hypo-grade-open:hover:not(.currently-open) {
    /* box-shadow: -8px 8px 8px 0 rgba(0,0,0,0.2); */
    padding: 5px 25px 5px 10px;
}
div.hypo-grade-open:hover {
    cursor: pointer;
}
div.hypo-grade-open:hover + div.hypo-grade-panel    {
    box-shadow: 3px 8px 20px 0 rgba(0,0,0,0.2);
}
div.hypo-grade-panel    {
    background-color: white;
    box-shadow: 1px 4px 10px 0 rgba(0,0,0,0.2);
    z-index: -1;
    display: inline-block;
    border-radius: 15px 0px 0px 15px;
    transition: box-shadow 0.3s;
    position: relative;
    left: 0;
    overflow:hidden;
}
div.hypo-grade-panel:hover    {
    box-shadow: 3px 8px 20px 0 rgba(0,0,0,0.2);
}
div.hypo-grade-div  {
    background: transparent;
    position: relative;
    padding: 0;
    /* box-shadow: 1px 4px 10px 0 rgba(0,0,0,0.2); */
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    z-index: 999;
    transition: left 1s;
    left: 100vw;
    /* transition: left,right 1s; */
}
div.hypo-grade-div-fixed {
    position: fixed;
    right: 0;
    top: 20px;
    background: transparent;
}
.tooltip.saspe .tooltiptext.saspe {
    visibility: hidden;
    background-color: black;
    width: 120px; 
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: -95px;
    left: -5px;
}
.tooltip.saspe:hover .tooltiptext.saspe {
    visibility: visible;
}
.tooltip.saspe  {
    cursor: default;
    position: relative;
    display: inline-block;
}
#update-info {
    background-color: #FFF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    position: relative;
    padding-bottom: 1px;
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: #444444;
}